<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
            <div class="container">
                <app-post-data></app-post-data>
            </div>
        </main>
        <aside class="col-lg-4">
            <!-- Widget [Search Bar Widget]-->
            <app-search-widget></app-search-widget>
            <!-- Widget [Latest Posts Widget] -->
            <app-latest-post></app-latest-post>
            <!-- Widget [Categories Widget]-->
            <app-categories></app-categories>
            <!-- Widget [Tags Cloud Widget]-->
            <app-tags></app-tags>
        </aside>
    </div>
</div>