<div class="post-single" *ngIf="post!=null" [attr.post]="post">
    <div class="post-thumbnail"><img [src]="post.featuredImage" alt="..." class="img-fluid">
    </div>
    <div class="post-details">
        <div class="post-meta d-flex justify-content-between">
            <div class="category"><a routerLink>{{ post.category }}</a></div>
        </div>
        <h1>{{ post.title }}<a routerLink><i
                    class="fa fa-bookmark-o"></i></a></h1>
        <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a routerLink
                class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="/assets/img/user.svg" alt="..." class="img-fluid">
                </div>
                <div class="title"><span>{{ post.postedBy }}</span></div>
            </a>
            <div class="d-flex align-items-center flex-wrap">
                <div class="date"><i class="icon-clock"></i>{{ post.postDate | date:'mediumDate' }}</div>
                <div class="views"><i class="icon-eye"></i>{{ post.views }}</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comments.length }}</div>
            </div>
        </div>
        <div class="post-body" [innerHTML]="post.post"></div>
        <div class="post-tags">
            <a [routerLink]="['/blog']" [queryParams]="{ tag: tag.substring(1) }" class="tag" *ngFor="let tag of post.tags">{{ tag }}</a>
        </div>
        <div class="post-comments">
            <header>
                <h3 class="h6">Post Comments<span class="no-of-comments">({{ post.comments.length }})</span></h3>
            </header>
            <div class="comment" *ngFor="let comment of post.comments">
                <div class="comment-header d-flex justify-content-between">
                    <div class="user d-flex align-items-center">
                        <div class="image"><img src="/assets/img/user.svg" alt="..."
                                class="img-fluid rounded-circle"></div>
                        <div class="title"><strong>{{ comment.author }}</strong>
                            <span class="date">{{ comment.date | date:'mediumDate' }}</span>
                        </div>
                    </div>
                </div>
                <div class="comment-body" [innerHTML]="comment.comment"></div>
            </div>
        </div>
        <div class="add-comment">
            <header>
                <h3 class="h6">Leave a reply</h3>
            </header>
            <form class="commenting-form" (ngSubmit)="submitComment()">
                <div class="row">
                    <div class="form-group col-md-12">
                        <input type="text" name="username" id="username" placeholder="Name"
                            class="form-control" [(ngModel)]="commentName">
                    </div>
                    <div class="form-group col-md-12">
                        <textarea name="usercomment" id="usercomment" placeholder="Type your comment"
                            class="form-control" [(ngModel)]="commentText"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Submit Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>