<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8">
            <div class="container">
                <div class="row">
                    <!-- post -->
                    <app-post-card class="post col-xl-6" *ngFor="let post of blogPosts" [post]="post"></app-post-card>
                </div>
            </div>
        </main>
        <aside class="col-lg-4">
            <!-- Widget [Search Bar Widget]-->
            <app-search-widget></app-search-widget>
            <!-- Widget [Latest Posts Widget] -->
            <div class="widget latest-posts">
                <header>
                    <h3 class="h6">Latest Posts</h3>
                </header>
                <div class="blog-posts">
                    <app-latest-post [posts]="posts" *ngFor="let posts of blogPosts.slice(0,3)"></app-latest-post>
                </div>
            </div>
            <!-- Widget [Categories Widget]-->
            <div class="widget categories">
                <header>
                    <h3 class="h6">Categories</h3>
                </header>
                <app-categories></app-categories>
            </div>
            <!-- Widget [Tags Cloud Widget]-->
            <div class="widget tags">
                <header>
                    <h3 class="h6">Tags</h3>
                </header>
                <ul class="list-inline">
                    <app-tags></app-tags>
                </ul>
            </div>
        </aside>
    </div>
</div>