<a href="#">
    <div class="item d-flex align-items-center">
        <div class="image"><img [src]="posts.featuredImage" alt="..." class="img-fluid">
        </div>
        <div class="title"><strong>{{ posts.title }}</strong>
            <div class="d-flex align-items-center">
                <div class="views"><i class="icon-eye"></i>{{ posts.views }}</div>
                <div class="comments"><i class="icon-comment"></i>{{ posts.comments.length }}</div>
            </div>
        </div>
    </div>
</a>