<div class="widget latest-posts">
    <header>
        <h3 class="h6">Latest Posts</h3>
    </header>
    <div class="blog-posts">
        <a [routerLink]="['/post', post._id]" *ngFor="let post of blogPosts">
            <div class="item d-flex align-items-center">
                <div class="image"><img [src]="post.featuredImage" alt="..." class="img-fluid">
                </div>
                <div class="title"><strong>{{ post.title }}</strong>
                    <div class="d-flex align-items-center">
                        <div class="views"><i class="icon-eye"></i>{{ post.views }}</div>
                        <div class="comments"><i class="icon-comment"></i>{{ post.comments.length }}</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>